* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 20px 10px 20px 10px;
}

h3,
h5 {
    text-align: center;
    color: #B83D1A;
}

#content-div {
    padding: 10px;
}

#upload {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

#upload-proveedor {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

#table-products {
    border: 1px solid #121212;
}


/* .form-control {
    width: 40%;
} */

#selectors {
    display: none;
}

#selectors2 {
    display: none;
}

#div-table {
    margin-top: 20px;
    display: none;
}


/* .fecha {
    display: inline-block;
    margin: 20px 0 20px 0px;
} */

.row {
    margin: 10px auto;
}

.col {
    position: relative;
    text-align: center;
}

.row__col-moto,
.row__col-repuestos {
    height: 12rem;
}

.opcion {
    position: relative;
    border-radius: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 12rem;
    background-color: #B1F06D90;
}

button {
    border: none;
}

button:hover {
    background-color: #ED8668;
}

b {
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
}

#content-div {
    display: none;
}

html {
    min-height: 100%;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 400px) {
    .opcion {
        position: relative;
        border-radius: 20%;
        left: 0;
        right: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 9rem;
        background-color: #B1F06D90;
    }
    button img {
        width: 6rem;
    }
}