.data {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
}

p {
    text-align: center;
    opacity: 0.6;
    font-size: .8rem;
}

#contenedor {
    position: relative;
    top: 10px;
    margin: auto;
    left: 0;
    right: 0;
    background-color: #f4d45e4b;
    border-radius: 50px;
}

h4 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color: #ffffff;
}

a.navbar-brand {
    margin-left: 10px;
}

h6 {
    color: #941C2F;
    padding-top: 20px;
    line-height: 2;
    text-align: center;
}

#odoo {
    display: none;
    margin-bottom: 10px;
    width: 100%;
}

#vendor {
    display: none;
    margin-bottom: 10px;
    width: 100%;
}

#table-products {
    border: 1px solid #121212;
}

#btnType {
    display: none;
}

.seleccion {
    margin-top: 20px;
}

#groupRefsModels {
    display: none;
    ;
}

#div-table {
    margin-top: 20px;
    display: none;
}

.col {
    position: relative;
    text-align: center;
}

.img_moto,
.img_repuestos {
    height: 12rem;
}

.opcion {
    position: relative;
    border-radius: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 12rem;
    background-color: #B1F06D90;
}

.label {
    position: relative;
    top: -1.7rem;
}

img:hover {
    background-color: #ED8668;
}

#content-div {
    margin-bottom: 70px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#validar {
    text-align: center;
    margin: auto;
}

#cards-info {
    display: none;
}

#confirmarTodo {
    display: none;
    margin: 20px;
}

#btnContinuar {
    margin: 20px;
}

.descargar {
    display: none;
}

.progress {
    margin: 30px 0px 20px 0px;
    height: 30px;
    display: none;
}

form {
    margin: 2rem 0 0 0;
}

#barVendor {
    width: 1%;
    background-color: #32CD32;
    padding-left: 10px;
    font-size: 1.2rem;
}

.mrg {
    margin: 20px;
}

div.text-center {
    margin-top: 10px;
}

@media only screen and (max-width: 400px) {
    .opcion {
        /* position: relative; */
        border-radius: 20%;
        left: 0;
        right: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 9rem;
        height: 9rem;
    }
    button img {
        width: 6rem;
    }
    p {
        font-size: .5rem;
    }

    h4 {
        padding-right: 1rem;
        position: relative;
        font-size: 1.2rem;
        right: 0;
        color: #ffffff;
    }
    .seleccion {
        margin-top: 10px;
    }
    .retornar,
    #btns {
        margin: 20px;
    }
}