* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 20px 10px 20px 10px;
}

h3,
h5 {
    text-align: center;
    color: #B83D1A;
}

#content-div {
    /* padding: 10px; */
    /* background-color: coral; */
}

h6 {
    line-height: 3;
}

#odoo {
    display: none;
    margin-bottom: 10px;
    width: 100%;
}

#vendor {
    display: none;
    margin-bottom: 10px;
    width: 100%;
}

#table-products {
    border: 1px solid #121212;
}

#btnType {
    display: none;
}

label {}

#groupRefsModels {
    display: none;
    ;
}

#div-table {
    margin-top: 20px;
    display: none;
}

.col {
    position: relative;
    text-align: center;
}

.img_moto,
.img_repuestos {
    height: 12rem;
}

.opcion {
    position: relative;
    border-radius: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 12rem;
    background-color: #B1F06D90;
}

button {
    border: none;
}

button:hover {
    background-color: #ED8668;
}

b {
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
}

#content-div {
    /* display: none; */
    margin-bottom: 50px;
}

html {
    min-height: 100%;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#validar {
    text-align: center;
    margin: auto;
}

#cards-info,
#confirmarTodo {
    display: none;
}

.descargar {
    display: none;
}

.progress {
    margin: 10px 0 10px 0;
    height: 30px;
    display: none;
}

form {
    margin: 20px 0 0 0;
}

#barVendor {
    width: 1%;
    background-color: limegreen;
    padding-left: 10px;
    font-size: 1.2rem;
}

.retornar {
    margin-top: 30px;
}

@media only screen and (max-width: 400px) {
    .opcion {
        position: relative;
        border-radius: 20%;
        left: 0;
        right: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 9rem;
        background-color: #B1F06D90;
    }
    button img {
        width: 6rem;
    }
}